.menuHeader {
  text-align: center;
}

.menuItem-price {
  float: right;
}

.menuItem-options  {
  list-style: none;
}

.menuItem {
  padding-bottom: 30px;
}

.menuItem-options > li:before {
  content: "+";
  margin-right: 14px;
}